.education-heading-bg {
  background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/education1.JPG");
  background-size: cover;
  background-position: center;
}

/*==========MQ*/

@media (min-width: 992px){
    .education-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/education1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .education-heading-bg {
    background-color: transparent;
    background: transparent;
  }

}