@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:300,400,500');


/* Colours 
Light grey: #e8e3e7
Bright pink: #db2785
*/

/* ==========================General */

.body-bg-black {
  font-family: 'Roboto', sans-serif;
  color: #e8e3e7;
  background-color: #000000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.nav-position {
  position: fixed;
  z-index: 1;
}


.main-heading-bg {
  
  background-size: cover;
  background-position: top;
}


.page-header {
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fff;
  letter-spacing: 2px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.hr-pink {
  width: 100px;
  height: 6px;
  border: none;
  background-color: #db2785;

}

.margin-10px {
  margin: 10px;
}

.btn-margin {
  margin: 30px;
}

.button-pink {
  background-color: #db2785;
  border: none;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button-pink:hover {
  box-shadow: 0 0 25px #fff;
  background-color: #f7a8cf;
}

.button-pink:active {
  border: none;
  box-shadow: none;
}

/* =========================Nav*/

.bar-icon {
  color: #db2785;
  font-size: 24px;
}

.nav-item-icon {
  font-size: 24px;
  padding-left: 10px;
}

.nav-pink {
  background-color: #000000;
}

.nav-pink .nav-link-pink {
  color: #db2785;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-pink .nav-link-pink:hover,
.active-nav .nav-link-pink {
  text-shadow: 0 0 10px #ffffff;
  color: #ffffff;
}


/* =========================Index Page*/


 .index-heading-bg{
  background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/nathan.JPG");
  background-size: cover;
  background-position: top;
}
 

.main-heading {
  height: 350px;
  display: flex;
  align-items: center;
}

.main-title {
  text-transform: uppercase;
  letter-spacing: 9px;
  word-spacing: 12px;
  text-shadow: 0 0 10px #fff;
  font-weight: 400;
  margin-bottom: 30px;

}

.main-lead {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #fff;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

.box {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;

}

.box-white {
  background-color: #e8e3e7;
  color: #26272b;
}

.box-transparent {
  background-color: transparent;
  color: #e8e3e7;
}

.list {
  line-height: 2;
  font-size: 20px;
}

.list-title {
  font-size: 26px;
  line-height: 2;
}

.list-item {
  list-style-type: none;
}

.text-block {
  margin: 20px 20px;
  font-weight: 300;
  font-size: 1.25rem;
}

.text-link {
  text-decoration: none;
  color: #db2785;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.text-link:hover {
  text-shadow: 0 0 10px #fff;
  color: #f7a8cf;
  text-decoration: none;
}


/* =========================Media Page*/

.media-heading-bg{
background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/oktoberfest.jpg");
  background-size: cover;
  background-position: top;
}

.soundcloud{
  border: solid 2px #ffffff;
  box-shadow: 0 0 10px #fff;
}

.media-youtube{
  display: block;
  margin: 20px auto;
  width: 80%;
  height: auto;
  
}

.my-carousel{
  
  border: solid 2px #ffffff;
  box-shadow: 0 0 10px #fff;
  margin-bottom: 20px;
  
  
}

/* =========================Education Page*/

.education-heading-bg{
background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/education1.JPG");
  background-size: cover;
  background-position: center;
}

/* =========================Live Page*/

.live-heading-bg{
background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/beach_stage.JPG");
  background-size: cover;
  background-position: center;
}
.calendar {
  width: 80%;
  margin: 0 auto;
}

/* =========================Contact Page*/

.contact-heading-bg{
background: linear-gradient( rgba(0, 0, 0, 0.9) 0%,
  rgba(0, 0, 0, 0.7) 3%,
  rgba(0, 0, 0, 0.5) 5%,
  rgba(0, 0, 0, 0.3) 10%,
  rgba(0, 0, 0, 0.5) 90%,
  rgba(0, 0, 0, 0.7) 95%,
  rgba(0, 0, 0, 0.9) 100%), url("../images/lucy.jpg");
  background-size: cover;
  background-position: center;
}

/* =========================Social Media*/

.social-media-link {
  color: #e40777;
  font-size: 24px;
  transition-property: color text-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  margin: 20px 10px;
}

.social-media-link:hover {
  text-shadow: 0 0 10px #fff;
  color: #f7a8cf;
}

/*==================================Media Queries*/

@media (min-width: 768px){
  .media-youtube{
    width: 560px;
    height: 315px;
  }
}

@media (min-width: 992px) {

  .box {
    width: 70%;
  }

  .index-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/nathan.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .index-heading-bg {
    background-color: transparent;
    background: transparent;
  }

  .main-heading{
    margin-top: 50px;
  }

  .nav-pink .nav-link-pink {
    display: inline-block;
    color: #e8e3e7;
    font-size: 14px;
    margin-bottom: 10px;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  .nav-pink .nav-link-pink:hover {
    background-color: #e40777;
  }

  .nav-pink {
    background-color: transparent;
    top:30px;
    left: 10px;
    position: fixed;
  }

  .active-nav .nav-link-pink {
    text-shadow: none;
    background-color: #e40777;
  }
  
  .social-nav {
    
    position: fixed;
    right: 30px;
    top:40px;
  }

  .social-media-link {
    margin: 10px;
    font-size: 28px;
  }
  
  .back-button{
    display: none;
  }

/*==========MQ- media page*/

 .media-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/oktoberfest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
  }

  .media-heading-bg {
    background-color: transparent;
    background: transparent;
  }
  
  .my-carousel{
    margin-bottom: 40px;
  }
  
  .hr-bottom{
    margin-bottom: 40px;
  }

/*==========MQ- Education page*/  
  .education-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/education1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .education-heading-bg {
    background-color: transparent;
    background: transparent;
  }

/*==========MQ- live page*/
  .live-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/beach_stage.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .live-heading-bg {
    background-color: transparent;
    background: transparent;
  }
  
  /*==========MQ- contact page*/
  
.contact-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/lucy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .contact-heading-bg {
    background-color: transparent;
    background: transparent;
  }

}

@media (min-width: 1200px) {
  .main-title {
    font-size: 70px;
  }
  
  .main-lead {
    font-size: 28px;
  }
  
  .nav-pink .nav-link-pink{
    font-size: 20px;
  }
  
  .social-media-link{
    font-size: 36px;
  }
  
}


